html {
    background: #111;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: #a8a8a8;
}

.row {
    
    padding: 20px;
    margin: 20px;
}

.pics { 
    display: flex;
    border-top: 5px solid #a8a8a8;
    
}

.picture {
    height: 200px;
    width: 300px;
}

nav {
    background-color: #111;
}



img {
    width: 100%;
}

h1 {
    margin: 15px 0;
    font-size: 50px;
    color: rgb(216, 216, 216);
    text-align: center;
    margin-top: -300px;
    margin-bottom: 300px;
}

h2 {
    margin: 15px 0;
    font-size: 40px;
    color: rgb(216, 216, 216);
    text-align: center;
}

h3 {
    margin: 15px 0;
    color: #a8a8a8;
    text-align: center;
}

.me {
    background-color: #111;
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    box-shadow: rgba(0,0,0, 0.1) 10px 10px 20px;
    
}

.me .avatar {
    box-shadow: rgba(255, 255, 255, 0.1) 0 20px 20px;
    width: 200px;
    margin-top: -50px;
}

.contacts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contacts li {
    width: 30px;
    display: inline-block;
    padding: 20px 10px;
}

.contacts li a img:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

